
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #444;
    margin: auto;
    padding: .5in;
    max-width: 7in;
    text-align: justify;
}

a {
    color: #08f;
}

#info {
    left: 0;
}

.view {
    width: 5in;
    height: 5in;
    margin: auto;
}

#c {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}
